In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./place_data/KC_497_DMSTC_MCST_THEART_2022.csv')
df

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCDMTPO22N000000001,장소,문화시설,10081284,CGV,북포항점,NaN,100208,CGV,4.710000e+18,...,4.710000e+11,서동로,93,129.368199,36.040708,마마682842,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1,KCDMTPO22N000000002,장소,문화시설,10210261,CGV,김해점,NaN,100208,CGV,4.830000e+18,...,4.830000e+11,내외중앙로,137,128.868605,35.242204,마라245949,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
2,KCDMTPO22N000000003,장소,문화시설,10253565,메가박스,제천점,NaN,100212,메가박스,4.320000e+18,...,4.320000e+11,의병대로18길,1,128.212341,37.135293,라사632043,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
3,KCDMTPO22N000000004,장소,문화시설,10253568,제물포극장,NaN,NaN,100202,일반극장/영화관,2.820000e+18,...,2.820000e+11,수봉로,3,126.656531,37.465808,다사254410,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
4,KCDMTPO22N000000005,장소,문화시설,10253586,국도복합영화관,NaN,NaN,100202,일반극장/영화관,4.510000e+18,...,4.510000e+11,아리랑로,9,126.714745,35.984541,다마292767,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,KCDMTPO22N000001374,장소,문화시설,8012128,문의자동차극장,NaN,NaN,100207,자동차전용극장,4.310000e+18,...,4.310000e+11,미천고은로,73,127.502343,36.530987,라바002370,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1374,KCDMTPO22N000001375,장소,문화시설,8055145,CGV,시흥점,NaN,100208,CGV,4.140000e+18,...,4.140000e+11,복지로,90,126.791620,37.447011,다사373388,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1375,KCDMTPO22N000001376,장소,문화시설,8056207,SFX시네마,청주점,NaN,100202,일반극장/영화관,4.310000e+18,...,4.310000e+11,충청대로,114,127.494394,36.666091,다바994520,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1376,KCDMTPO22N000001377,장소,문화시설,8237218,CGV,춘천점,NaN,100208,CGV,4.210000e+18,...,4.210000e+11,지석로,80,127.744049,37.850664,라사214834,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1377,KCDMTPO22N000001378,장소,문화시설,8558674,광주패밀리랜드광주자동차극장,NaN,NaN,100207,자동차전용극장,2.920000e+18,...,2.920000e+11,우치로,677,126.900550,35.223665,다라454921,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809

### 23년도 8월 기준 개장 처리(CGV)

In [3]:
df[df['POI_NM'].str.contains('CGV\(')]

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
609,KCDMTPO22N000000610,장소,문화시설,19473095,CGV(2022년9월예정),인천시민공원,NaN,100208,CGV,2.820000e+18,...,NaN,NaN,NaN,126.681147,37.457772,다사275401,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
705,KCDMTPO22N000000706,장소,문화시설,20832047,CGV(2023년2월예정),천안업성,NaN,100208,CGV,4.410000e+18,...,NaN,NaN,NaN,127.135160,36.844228,다바674718,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1054,KCDMTPO22N000001055,장소,문화시설,21948844,CGV(2022년12월예정),여주점,NaN,100208,CGV,4.170000e+18,...,NaN,NaN,NaN,127.637630,37.297188,라사121220,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1106,KCDMTPO22N000001107,장소,문화시설,22234686,CGV(2022년12월예정),동탄그랑파사쥬점,NaN,100208,CGV,4.160000e+18,...,NaN,NaN,NaN,127.106170,37.166208,다사650075,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809

In [4]:
df['POI_NM'].str.contains('CGV\(')

0       False
1       False
2       False
3       False
4       False
        ...
1373    False
1374    False
1375    False
1376    False
1377    False
Name: POI_NM, Length: 1378, dtype: bool

In [5]:
df.loc[df['POI_NM'].str.contains('CGV\('), 'POI_NM'] = 'CGV'

### 23년도 8월 기준 개장 처리(메가박스)

In [6]:
df[df['POI_NM'].str.contains('메가박스\(')]

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
658,KCDMTPO22N000000659,장소,문화시설,20520909,메가박스(2023년3월예정),여주아울렛점,NaN,100212,메가박스,4.170000e+18,...,NaN,NaN,NaN,127.616163,37.244102,라사103161,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809

In [7]:
df.loc[df['POI_NM'].str.contains('메가박스\('), 'POI_NM'] = '메가박스'

In [8]:
df[df['POI_NM'].str.contains('메가박스\(')]

Empty DataFrame
Columns: [ID, LCLAS_NM, MLSFC_NM, POI_ID, POI_NM, BHF_NM, ASSTN_NM, CL_CD, CL_NM, PNU, CTPRVN_NM, SIGNGU_NM, LEGALDONG_NM, LI_NM, LNBR_NO, LEGALDONG_CD, ADSTRD_CD, RDNMADR_CD, RDNMADR_NM, BULD_NO, LC_LO, LC_LA, GID_CD, LAST_CHG_DE, ORIGIN_NM, FILE_NM, BASE_DE]
Index: []

[0 rows x 27 columns]

### 23년도 8월 기준 개장 처리(롯데시네마)

In [9]:
df[df['POI_NM'].str.contains('롯데시네마\(')]

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
637,KCDMTPO22N000000638,장소,문화시설,20407252,롯데시네마(2022년10월예정),천안청당,NaN,100209,롯데시네마,4.410000e+18,...,NaN,NaN,NaN,127.156098,36.783045,다바693650,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
677,KCDMTPO22N000000678,장소,문화시설,20633472,롯데시네마(2023년1월예정),전주점,NaN,100209,롯데시네마,4.510000e+18,...,4.510000e+11,기린대로,451,127.126070,35.839017,다마662603,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
750,KCDMTPO22N000000751,장소,문화시설,21246680,롯데시네마(2023년예정),대구연경,NaN,100209,롯데시네마,2.710000e+18,...,NaN,NaN,NaN,128.629727,35.943745,마마018724,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1194,KCDMTPO22N000001195,장소,문화시설,22523320,롯데시네마(2024년1월예정),NaN,NaN,100209,롯데시네마,4.710000e+18,...,4.710000e+11,양학로,61,129.347477,36.028490,마마664828,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809

In [10]:
df.loc[df['POI_NM'].str.contains('롯데시네마\(2022'), 'POI_NM'] = '롯데시네마'

In [11]:
df.loc[df['POI_NM'].str.contains('롯데시네마\(2023년1월'), 'POI_NM'] = '롯데시네마'

In [12]:
df[df['POI_NM'].str.contains('롯데시네마\(')]

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
750,KCDMTPO22N000000751,장소,문화시설,21246680,롯데시네마(2023년예정),대구연경,NaN,100209,롯데시네마,2.710000e+18,...,NaN,NaN,NaN,128.629727,35.943745,마마018724,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
1194,KCDMTPO22N000001195,장소,문화시설,22523320,롯데시네마(2024년1월예정),NaN,NaN,100209,롯데시네마,4.710000e+18,...,4.710000e+11,양학로,61,129.347477,36.028490,마마664828,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809

In [13]:
list = ['CGV', '메가박스', '롯데시네마']
df = df[df['POI_NM'].isin(list)].sort_values(['POI_NM'], ascending=True)
df

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCDMTPO22N000000001,장소,문화시설,10081284,CGV,북포항점,NaN,100208,CGV,4.710000e+18,...,4.710000e+11,서동로,93,129.368199,36.040708,마마682842,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
645,KCDMTPO22N000000646,장소,문화시설,20512221,CGV,등촌점,NaN,100208,CGV,1.150000e+18,...,1.150000e+11,공항대로45길,63,126.855974,37.557877,다사431511,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
656,KCDMTPO22N000000657,장소,문화시설,20520236,CGV,부천옥길점,NaN,100208,CGV,4.120000e+18,...,4.120000e+11,옥길로,124,126.823594,37.467449,다사401411,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
696,KCDMTPO22N000000697,장소,문화시설,20774885,CGV,김포한강점,NaN,100208,CGV,4.160000e+18,...,4.160000e+11,걸포로,6,126.707198,37.632216,다사300594,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
700,KCDMTPO22N000000701,장소,문화시설,20796017,CGV,양주옥정점,NaN,100208,CGV,4.160000e+18,...,4.160000e+11,옥정로,200,127.092126,37.819396,다사641800,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,KCDMTPO22N000000711,장소,문화시설,20872007,메가박스,홍대점,NaN,100212,메가박스,1.140000e+18,...,1.140000e+11,양화로,147,126.922064,37.556045,다사489509,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
467,KCDMTPO22N000000468,장소,문화시설,18268285,메가박스,강동점,NaN,100212,메가박스,1.170000e+18,...,1.170000e+11,성내로,48,127.125381,37.528454,다사669477,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
469,KCDMTPO22N000000470,장소,문화시설,18274818,메가박스,미사강변점,NaN,100212,메가박스,4.150000e+18,...,4.150000e+11,미사강변중앙로,218,127.189652,37.566404,다사725519,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
445,KCDMTPO22N000000446,장소,문화시설,18222576,메가박스,오창점,NaN,100212,메가박스,4.310000e+18,...,4.310000e+11,중심상업1로,08월 09일,127.428598,36.712389,다바936571,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809
383,KCDMTPO22N000000384,장소,문화시설,17799421,메가박스,남춘천점,NaN,100212,메가박스,4.210000e+18,...,4.210000e+11,춘천로17번길,17,127.720222,37.866402,라사193852,20220809,KT,KC_497_DMSTC_MCST_THEART_2022,20220809

In [14]:
df['POI_NM'].unique()

array(['CGV', '롯데시네마', '메가박스'], dtype=object)

### 불필요 컬럼 제거

In [15]:
# ID	ID  (의미 X)
# LCLAS_NM	대분류명    (장소 단일값 제외)
# MLSFC_NM	중분류명    (문화시설 단일값 제외)
# POI_ID	POI_ID  (의미 X)
# POI_NM	POI명
# BHF_NM	지점명
# ASSTN_NM	보조명  (결측값)
# CL_CD	분류코드    (분류명과 같은 의미값)
# CL_NM	분류명  (분류명과 같은 의미값)
# PNU	지번고유코드    (의미 X)
# CTPRVN_NM	시도명
# SIGNGU_NM	시군구명
# LEGALDONG_NM	법정동명
# LI_NM	리명
# LNBR_NO	번지번호
# LEGALDONG_CD	법정동코드  (의미 X)
# ADSTRD_CD	행정동코드  (의미 X)
# RDNMADR_CD	도로명주소코드  (의미 X)
# RDNMADR_NM	도로명주소명
# BULD_NO	건물번호
# LC_LO	위치경도    (보류)
# LC_LA	위치위도    (보류)
# GID_CD	격자코드    (보류)
# LAST_CHG_DE	최종변경일자    (단일값)
# ORIGIN_NM	출처명  (단일값)
# FILE_NM	파일명  (단일값)
# BASE_DE	기준일자    (단일값)


# POI_NM	POI명
# BHF_NM	지점명
# CTPRVN_NM	시도명
# SIGNGU_NM	시군구명
# LEGALDONG_NM	법정동명
# LI_NM	리명
# LNBR_NO	번지번호
# RDNMADR_NM	도로명주소명
# BULD_NO	건물번호
# LC_LO	위치경도    (보류)
# LC_LA	위치위도    (보류)
# GID_CD	격자코드    (보류)

In [16]:
df = df[['POI_NM', 'BHF_NM', 'CTPRVN_NM', 'SIGNGU_NM', 'LEGALDONG_NM', 'LI_NM', 'LNBR_NO', 'RDNMADR_NM', 'BULD_NO']]
df

,POI_NM,BHF_NM,CTPRVN_NM,SIGNGU_NM,LEGALDONG_NM,LI_NM,LNBR_NO,RDNMADR_NM,BULD_NO
0,CGV,북포항점,경상북도,포항시 북구,덕산동,NaN,235-4,서동로,93
645,CGV,등촌점,서울특별시,강서구,등촌동,NaN,639-23,공항대로45길,63
656,CGV,부천옥길점,경기도,부천시,옥길동,NaN,745-5,옥길로,124
696,CGV,김포한강점,경기도,김포시,걸포동,NaN,1574-3,걸포로,6
700,CGV,양주옥정점,경기도,양주시,옥정동,NaN,963-12,옥정로,200
...,...,...,...,...,...,...,...,...,...
710,메가박스,홍대점,서울특별시,마포구,동교동,NaN,160-4,양화로,147
467,메가박스,강동점,서울특별시,강동구,성내동,NaN,549-1,성내로,48
469,메가박스,미사강변점,경기도,하남시,망월동,NaN,1079-2,미사강변중앙로,218
445,메가박스,오창점,충청북도,청주시 청원구,오창읍,양청리,820-1,중심상업1로,08월 09일
383,메가박스,남춘천점,강원도,춘천시,온의동,NaN,587-8,춘천로17번길,17

### 컬럼명 변경

In [17]:
df.columns = ['영화관명', '지점명', '시도명', '시군구명', '법정동명', '리명','번지번호', '도로명주소명', '건물번호']
df.reset_index(drop=True, inplace=True)
df

     영화관명    지점명    시도명     시군구명 법정동명   리명    번지번호   도로명주소명     건물번호
0     CGV   북포항점   경상북도   포항시 북구  덕산동  NaN   235-4      서동로       93
1     CGV    등촌점  서울특별시      강서구  등촌동  NaN  639-23  공항대로45길       63
2     CGV  부천옥길점    경기도      부천시  옥길동  NaN   745-5      옥길로      124
3     CGV  김포한강점    경기도      김포시  걸포동  NaN  1574-3      걸포로        6
4     CGV  양주옥정점    경기도      양주시  옥정동  NaN  963-12      옥정로      200
..    ...    ...    ...      ...  ...  ...     ...      ...      ...
453  메가박스    홍대점  서울특별시      마포구  동교동  NaN   160-4      양화로      147
454  메가박스    강동점  서울특별시      강동구  성내동  NaN   549-1      성내로       48
455  메가박스  미사강변점    경기도      하남시  망월동  NaN  1079-2  미사강변중앙로      218
456  메가박스    오창점   충청북도  청주시 청원구  오창읍  양청리   820-1   중심상업1로  08월 09일
457  메가박스   남춘천점    강원도      춘천시  온의동  NaN   587-8  춘천로17번길       17

[458 rows x 9 columns]

### 이상 데이터 정리

In [18]:
df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '경산점'), '건물번호'] = '6-5'
df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '울산진장점'), '건물번호'] = '51-10'
df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '광주금남로'), '건물번호'] = '16-7'
df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '청주지웰시티점'), '건물번호'] = '47-1'
df.loc[(df['영화관명'] == '롯데시네마') & (df['지점명'] == '양주고읍점'), '건물번호'] = '6-16'
df.loc[(df['영화관명'] == '롯데시네마') & (df['지점명'] == '향남점'), '건물번호'] = '7-21'
df.loc[(df['영화관명'] == '롯데시네마') & (df['지점명'] == '천안점'), '건물번호'] = '67-8'
df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '송도점'), '건물번호'] = '33-4'
df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '광주상무점'), '건물번호'] = '21-6'
df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '양주점'), '건물번호'] = '6-6'
df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '오창점'), '건물번호'] = '8-9'

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '경산점'), '건물번호'] = '6-5'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '울산진장점'), '건물번호'] = '51-10'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '광주금남로'), '건물번호'] = '16-7'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '청주지웰시티점'), '건물번호'] = '47-1'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == '롯데시네마') & (df['지점명'] == '양주고읍점'), '건물번호'] = '6-16'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == '롯데시네마') & (df['지점명'] == '향남점'), '건물번호'] = '7-21'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == '롯데시네마') & (df['지점명'] == '천안점'), '건물번호'] = '67-8'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '송도점'), '건물번호'] = '33-4'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '광주상무점'), '건물번호'] = '21-6'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '양주점'), '건물번호'] = '6-6'
C:\Users\tjoeun\AppData\Local\Temp\ipykernel_5360\433147097.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '오창점'), '건물번호'] = '8-9'

In [19]:
df.loc[(df['영화관명'] == 'CGV') & (df['지점명'] == '경산점')]

   영화관명  지점명   시도명 시군구명 법정동명   리명 번지번호  도로명주소명 건물번호
20  CGV  경산점  경상북도  경산시  중방동  NaN  897  대학로28길  6-5

In [20]:
df.loc[(df['영화관명'] == '메가박스') & (df['지점명'] == '오창점')]

     영화관명  지점명   시도명     시군구명 법정동명   리명   번지번호  도로명주소명 건물번호
456  메가박스  오창점  충청북도  청주시 청원구  오창읍  양청리  820-1  중심상업1로  8-9

In [21]:
df.dtypes

영화관명      object
지점명       object
시도명       object
시군구명      object
법정동명      object
리명        object
번지번호      object
도로명주소명    object
건물번호      object
dtype: object

### 데이터 저장

In [22]:
df.to_csv('./place_data/전국 주요 영화관(CGV, 메가박스, 롯데시네마) 위치.csv', index=None)

### 데이터 확인

In [23]:
df2 = pd.read_csv('./place_data/전국 주요 영화관(CGV, 메가박스, 롯데시네마) 위치.csv')
df2

     영화관명    지점명    시도명     시군구명 법정동명   리명    번지번호   도로명주소명 건물번호
0     CGV   북포항점   경상북도   포항시 북구  덕산동  NaN   235-4      서동로   93
1     CGV    등촌점  서울특별시      강서구  등촌동  NaN  639-23  공항대로45길   63
2     CGV  부천옥길점    경기도      부천시  옥길동  NaN   745-5      옥길로  124
3     CGV  김포한강점    경기도      김포시  걸포동  NaN  1574-3      걸포로    6
4     CGV  양주옥정점    경기도      양주시  옥정동  NaN  963-12      옥정로  200
..    ...    ...    ...      ...  ...  ...     ...      ...  ...
453  메가박스    홍대점  서울특별시      마포구  동교동  NaN   160-4      양화로  147
454  메가박스    강동점  서울특별시      강동구  성내동  NaN   549-1      성내로   48
455  메가박스  미사강변점    경기도      하남시  망월동  NaN  1079-2  미사강변중앙로  218
456  메가박스    오창점   충청북도  청주시 청원구  오창읍  양청리   820-1   중심상업1로  8-9
457  메가박스   남춘천점    강원도      춘천시  온의동  NaN   587-8  춘천로17번길   17

[458 rows x 9 columns]

In [24]:
df2.loc[(df2['영화관명'] == 'CGV') & (df2['지점명'] == '경산점')]

   영화관명  지점명   시도명 시군구명 법정동명   리명 번지번호  도로명주소명 건물번호
20  CGV  경산점  경상북도  경산시  중방동  NaN  897  대학로28길  6-5

In [25]:
df2.loc[(df2['영화관명'] == '메가박스') & (df2['지점명'] == '오창점')]

     영화관명  지점명   시도명     시군구명 법정동명   리명   번지번호  도로명주소명 건물번호
456  메가박스  오창점  충청북도  청주시 청원구  오창읍  양청리  820-1  중심상업1로  8-9